.footer {
    border-top: $border;
    .container {
        @include flexbox();
        @include phone-and-large-phone {
            flex-direction: column;
        }
        justify-content: space-between;
    }
}
.footer--list {
    @include phone-and-large-phone {
        margin-bottom: 30px;
        text-align: center;
    }
    @include tablet-up {
        width: calc(100%/6 - 10px);
        &:first-child {
            width: calc(2*(100%/6 - 10px));
        }
    }
    h6 {
        font-family: $font--bold;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 10px;
        &:nth-child(3) {
            margin-top: 30px;
        }
    }
    li {
        margin-bottom: 8px;
    }
    a {
        &.active {
            font-weight:bold;
        }
    }
}
.footer--social {
    @include flexbox;
    @include phone-and-large-phone {
        justify-content: center;
    }
    li {
        margin-right: 15px;
    }
}