* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
figure {
    margin: 0;
}
.clear {
    clear: both;
}
fieldset {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
textarea:focus, input:focus{
    outline: none;
}
input, select, textarea {
    border: 0;
    color: black;
}
button {
    background: transparent;
    color: initial;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
*:focus {
    outline: 0;
}
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
// hide any element
.hidden {
    display: none;
    &.icon {
        display: none
    }
}