@font-face {
    font-family: "core-sans-g-35-light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/CoreSansG-Light.ttf") format('woff');
}
@font-face {
    font-family: "core-sans-g-55-medium";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/CoreSansG-Medium.ttf") format('woff');
}
@font-face {
    font-family: "core-sans-g-15-extra-thin";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/CoreSansG-Thin.ttf") format('woff');
}
$font: 'core-sans-g-35-light';
$font--bold: 'core-sans-g-55-medium';
$font--thin: 'core-sans-g-15-extra-thin';

body {
    font-family: $font;
    font-weight: 400;
    color: $text;
}
a {
    color: #000000;
    @extend .animation;
}
a:hover {
    opacity: .65;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font;
    font-weight: 800;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }