// fonts

// font color
$text: #000;
$text--light: #303030;

// colors
$primary: #E52C42;
//$secondary: #F2D6DC;
$secondary: #e62b4226;

// service colors
$error: #eb5840;
$success: #78c775;

// social colors
$instagram: linear-gradient(51deg, #f89849 0%, #cb2d8a 70%);
$facebook: #3b5998;
$google: #4185f3;
$twitter: #55acee;
$messenger: #0084ff;
$whatsapp: #4dc247;
$viber: #665CAC;

// bg
$bg--gray: #F9F9F9;
//$bg--gray--light: #F3F3F3;
$bg--gray--light: #f7f7f7;

// border
$border: 1px solid rgba(0,0,0, .1);

// star color
$star: #ffc04c;
//$star: #f5939b;

$bg--banner: rgba(184, 93, 194, 0.52);