// Defining breakpoints
$bp-super-small: em(320);
$bp-extra-small: em(480);
$bp-small: em(768);
$bp-medium: em(1024);
$bp-large: em(1366);
$bp-extra-large: em(1920);


// Media query
@mixin super-small-phone {
    @include breakpoint(0 ($bp-super-small)) { @content }; /* 0 - 320 */
}
@mixin small-phone {
    @include breakpoint(0 ($bp-extra-small - em(1))) { @content }; /* 0 - 479 */
}
@mixin small-phone-up {
    @include breakpoint($bp-extra-small) { @content }; /* 480+ */
}
@mixin phone {
    @include breakpoint(0 ($bp-small - em(1))) { @content }; /* 0 - 767 */
}
@mixin phone-up {
    @include breakpoint($bp-small) { @content }; /* 768+ */
}

@mixin phone-and-tablet {
    @include breakpoint(0 ($bp-large - em(1))) { @content }; /* 0 - 1365 */
}
@mixin large-phone {
    @include breakpoint($bp-small ($bp-medium - em(1))) { @content }; /* 768 - 1023 */
}
@mixin phone-and-large-phone {
    @include breakpoint(0 ($bp-medium - em(1))) { @content }; /* 0 - 1023 */
}
@mixin large-phone-and-tablet {
    @include breakpoint($bp-small ($bp-large - em(1))) { @content }; /* 768 - 1365 */
}

@mixin tablet {
    @include breakpoint($bp-medium ($bp-large - em(1))) { @content }; /* 1024 - 1365 */
}
@mixin tablet-up {
    @include breakpoint($bp-medium) { @content }; /* 1024+*/
}

@mixin desktop-down {
    @include breakpoint(0 ($bp-large - em(1))) { @content }; /* 0 - 1365 */
}
@mixin desktop-up {
    @include breakpoint($bp-large) { @content }; /* 1366+*/
}
@mixin large-desktop-up {
    @include breakpoint($bp-extra-large) { @content }; /* 1920+*/
}