@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

// Placeholder color
@mixin placeholder($color) {
    ::-webkit-input-placeholder {
       color: $color;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: $color;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: $color;
    }
    :-ms-input-placeholder {
       color: $color;
    }
}

/* mixin for flex */
@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

/* mixin for container */
@mixin container($width) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
}

/* mixin for rotate */
@mixin rotate($deg) {
    -webkit-transform: rotateZ($deg);
    -moz-transform: rotateZ($deg);
    -ms-transform: rotateZ($deg);
    -o-transform: rotateZ($deg);
    transform: rotateZ($deg);
}

/* mixin for animate */
@mixin animate($prop, $time: 300ms, $how: ease) {
    -webkit-transition: $prop  $time $how;
    -moz-transition: $prop  $time $how;
    -o-transition: $prop  $time $how;
    transition: $prop  $time $how;
}

@mixin ellipsis ($max-height, $lines: 2) {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    max-height: $max-height;
    overflow: hidden;
}