.about,
.staticContainer {
    @include desktop-down {
        padding: 18px;
    }
    @include desktop-up {
        padding-top: 28px;
    }
    @include container(600px);
    h1 {
        margin-bottom: 18px;
        @include phone {
            font-size: 26px;
        }
        text-align: center;
    }
    h2 {
        margin-bottom: 18px;
        @include phone {
            font-size: 22px;
        }
    }
    p {
        font-size: 18px;
        line-height: 1.4em;
        margin-bottom: 18px;
        a {
            font-family: $font--bold;
            text-decoration: underline;
        }
    }
    img {
        margin-bottom: 18px;
        max-width:100%;
    }
    text-align:justify;
}
.about--me {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include desktop-down {
        padding: 18px;
    }
    @include desktop-up {
        padding: 36px;
    }
}
.about--me-img {
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include desktop-down {
        width: 100%;
        order: 2;
        margin-top: 36px;
    }
    @include desktop-up {
        width: 50%;
        order: 1;
    }
    div {
        @include flexbox;
        align-items: center;
        img {
            width: 320px;
            height: auto;
            &:nth-child(1) {
                width: 220px;
                position: relative;
                left: 50px;
            }
            &:nth-child(2) {
                width: 320px;
            }
            &:nth-child(3) {
                width: 280px;
                position: relative;
                top: 55px;
                left: -10px;
                @include small-phone {
                    display: none;
                }
            }
        }
    }
    a {
        margin-top: 18px;
        @include flexbox;
        align-items: center;
        justify-content: center;
        font-family: $font--bold;
        text-transform: uppercase;
        svg {
            margin-right: 10px;
            position: relative;
            top: -1px;
        }
    }
}
.about--me-info {
    @include desktop-down {
        width: 100%;
        order: 1;
    }
    @include desktop-up {
        width: 50%;
        order: 2;
    }
    text-align: center;
    h1 {
        font-family: $font--thin;
        font-size: 36px;
        span {
            font-style: italic;
        }
    }
    p {
        @include desktop-down {
            margin: 28px auto;
        }
        @include desktop-up {
            margin: 28px;
        }
        font-size: 16px;
        line-height: 1.6em;
        max-width: 750px;
    }
    a {
        @include flexbox;
        align-items: center;
        justify-content: center;
        font-family: $font--bold;
        text-transform: uppercase;
        svg {
            margin-left: 10px;
            position: relative;
            top: -2px;
        }
    }
}
.about--menu {
    border-top: $border;
    background: $bg--gray--light;
    @include flexbox;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    padding: 18px;
    position: sticky;
    bottom: 0;
    width: 100%;
    ul {
        @include flexbox;
        align-items: center;
        justify-content: center;
        li {
            margin: 0 10px;
            &.active {
                font-family: $font--bold;
            }
        }
    }
}
.about--page {
    @include flexbox;
    flex-wrap: wrap;
    h1 {
        font-family: $font--thin;
        @include phone {
            font-size: 28px;
        }
        @include phone-up {
            font-size: 36px;
        }
        margin: 36px 0 18px;
        span {
            font-style: italic;
        }
    }
    p {
        font-size: 16px;
        line-height: 1.4em;
    }
    a {
        @include flexbox;
        align-items: center;
        justify-content: center;
        font-family: $font--bold;
        text-transform: uppercase;
        svg {
            margin: 0 10px;
            position: relative;
            top: -2px;
        }
    }
}
.about--page-left {
    @include phone-and-large-phone {
        h1 {
            text-align: center;
        }
        p {
            margin-bottom: 36px;
            text-align: center;
        }
        img {
            width: 75%;
        }
    }
    //@include large-phone {
    //    img {
    //        width: 50%;
    //        margin: auto;
    //    }
    //}
    @include tablet-up {
        width: 45%;
        p {
            margin: 40px 180px 60px 0;
            font-size: 18px;
            line-height: 1.6em;
        }
    }
}
.about--page-right {
    @include phone-and-large-phone {
        @include flexbox;
        flex-direction: column;
        img {
            //order: 2;
            width: 50%;
            position: relative;
            top: -200px;
            left: 50%;
            margin-bottom: -200px;
            filter: grayscale(1);
        }
        blockquote {
            //order: 1;
            padding: 36px 0 36px 36px;
            //font-family: $font--thin;
            font-style: italic;
            font-size: 32px;
            position: relative;
            span {
                position: absolute;
                top: -45px;
                left: -13px;
                font-size: 110px;
                svg {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
    @include large-phone {
        img {
            top: -400px;
            margin-bottom: -400px;
        }
    }
    @include tablet-up {
        width: 55%;
        position: relative;
        left: -60px;
        blockquote {
            padding: 40px 0 0 180px;
            font-family: $font--bold;
            font-size: 42px;
            position: relative;
            span {
                position: absolute;
                top: -73px;
                left: 47px;
                font-size: 182px;
                svg {
                    width: 120px;
                    height: 120px;
                }
            }
        }
        img {
            filter: grayscale(1);
        }
    }
    @include desktop-up {
        left: -120px;
    }
}
.about--page-center {
    @include flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 36px 0;
    @include phone-and-large-phone {
        margin-top: 0;
    }
    p {
        margin-bottom: 18px;
    }
    img {
        @include desktop-down {
            margin-bottom: 18px;
        }
        @include large-phone {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        @include tablet {
            display: none;
        }
    }
    > * {
        width: 100%;
        @include tablet-up {
            width: calc(100%/2 - 36px/2);
        }
        @include desktop-up {
            width: calc(100%/3 - 72px/3);
        }
    }
}
.about--page-insta {
    margin-bottom: 18px;
    @include flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        width: calc(100%/3 - 36px/3);
        margin-bottom: 18px;
        background: $bg--gray--light;
        @include flexbox;
        align-items: center;
        justify-content: center;
        height: 130px;
    }
    @include phone-and-large-phone {
        margin-top: 36px;
    }
}