.details {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
}
.details--left {
    @include phone-up {
        align-items: flex-start;
    }
    @include phone-and-tablet {
        width: 100%;
    }
    @include large-phone-and-tablet {
        width: calc(100% - 35% - 20px);
    }
    @include desktop-up {
        width: 660px;
    }
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
}
.details--right {
    @include phone {
        width: 100%;
        margin-top: 18px;
    }
    @include large-phone-and-tablet {
        width: 35%;
    }
    @include desktop-up {
        width: 500px;
    }
}
.details--thumbs {
    @include phone {
        display: none;
    }
    @include phone-up {
        width: 90px;
        margin: 0 !important;
    }
    // override swiper
    .swiper-slide {
        @include phone-up {
            height: 80px !important;
            overflow: hidden;
        }
        @include tablet-up {
            height: auto !important;
        }
        opacity: .5;
        @extend .animation;
        cursor: pointer;
        &.swiper-slide-thumb-active {
            opacity: 1;
        }
    }
}
.details--thumbs-customer {
    cursor: pointer;
    background: $bg--gray--light;
    padding: 5px;
    margin-bottom: 20px;
    span {
        font-size: 14px;
        display: block;
        margin-top: 5px;
        text-align: center;
    }
}
.details--gallery {
    position: relative;
    @include phone {
        width: 100%;
    }
    @include phone-up {
        width: calc(100% - 90px - 20px);
        margin: 0 !important;
    }
}
.details--carousel {
    width: 100%;
    @include phone-up {
        margin: 0 !important;
    }
    a {
        display: block;
    }
    img {
        cursor: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 2H7v5H2v2h5v5h2V9h5V7H9V2z' fill='%23000'/%3E%3C/svg%3E"), crosshair;
    }
    // override swiper
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-prev, .swiper-button-next {
        background: rgba(255, 255, 255, 0.5);
        width: 32px;
        height: 60px;
        @extend .animation;
        &:hover {
            background: #FFFFFF;
        }
    }
}
.details--thumbs-video {
    text-align: center;
    cursor: pointer;
    @include flexbox;
    flex-direction: column;
    align-items: center;
    svg {
        margin: 18px 0 5px;
    }
    span {
        font-family: $font--bold;
        display: inline-block;
        border-bottom: 2px solid;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    &:hover {
        opacity: .75;
    }
}
.details--images-open {
    margin-top:0.5rem;
}
.details--video-open,
.details--images-open {
    @include phone-up {
        display: none;
    }
    cursor: pointer;
    @include flexbox;
    align-items: center;
    justify-content: center;
    background: $bg--gray--light;
    padding: 13px 0;
    width: 100%;
    svg {
        margin-right: 10px;
    }
    span {
        font-family: $font--bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        position: relative;
        top: 1px;
    }
    &:hover {
        opacity: .75;
    }
}
.details--video {
    display: none;
    &.active {
        display: block;
    }
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    video {
        width: 100%;
        height: 100%;
        //object-fit: fill;
    }
}
.details--info {
    position: relative;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: $border;
    h1 {
        font-size: 22px;
        padding-right: 30px;
        text-transform: uppercase;
    }
    p {
        margin: 5px 0 18px;
        font-size: 14px
    }
    .details--ratings {
        margin-right: 40px;
    }
}
.details--ratings {
    height: 26px;
    @include flexbox;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    svg {
        margin-right: 2px;
    }
    span {
        font-size: 14px;
        position: relative;
        @include desktop-down {
            top: 3px;
        }
        @include desktop-up {
            top: 1px;
        }
        padding-left: 2px;
    }
}
.details--original-price {
    opacity: .5;
}
.details--option {
    border: $border;
    @include border-radius(4px);
    margin-bottom: 18px;
}
.details--option-price {
    background: $secondary;
    padding: 18px;
    @include flexbox();
    align-items: center;
    input {
        position: absolute;
        opacity: 0;
        &:checked + label:after {
            content: "";
            width: 16px;
            height: 16px;
            @include border-radius(50%);
            background: #000;
            display: block;
            position: absolute;
            left: 5px;
        }
    }
    label {
        cursor: pointer;
        @include flexbox();
        align-items: center;
        position: relative;
        width: 100%;
        &:before {
            content: "";
            width: 24px;
            height: 24px;
            @include border-radius(50%);
            background: #FFFFFF;
            border: 1px solid #000000;
            display: block;
            margin-right: 18px;
            flex-basis: 24px;
        }
        > div {
            width: calc(100% - 24px - 18px);
            @include flexbox();
            align-items: center;
        }
        img {
            width: auto;
            height: 60px;
            padding: 4px;
            background: #FFFFFF;
            border: $border;
            @include desktop-down {
                margin-left: auto;
            }
        }
    }
}
.details--option-info {
    @include desktop-up {
        margin-right: 48px;
    }
    @include flexbox();
    flex-direction: column;
    h6 {
        font-family: $font--bold;
        font-size: 16px;
    }
}
.details--option-days {
    margin: 5px 0 10px;
    font-size: 14px;
}
.details--option-cost {
    font-family: $font--bold;
}
.details--option-shiping {
    display: none;
    padding: 18px;
    &.active {
        display: block;
    }
}
.details--option-list {
    > span {
        font-family: $font--bold;
        padding-bottom: 18px;
        margin-bottom: 18px;
        border-bottom: $border;
        display: block;
    }
    ul {
        margin-bottom: 36px;
    }
    li {
        @include flexbox();
        align-items: center;
        margin-bottom: 5px;
        svg {
            margin-right: 10px;
            flex: 0 0 10px;
        }
    }
}
.details--select {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:1rem;
    > div {
        width: calc(50% - 9px);
        position: relative;
        @include flexbox();
        flex-direction: column;
        @include large-phone {
            width: 100%;
            &:last-child {
                margin-top: 18px;
            }
        }
        &.full-width {
            width: 100%;
        }
        label {
            display: block;
            font-size: 12px;
            @include phone-and-large-phone {
                text-transform: none;
                letter-spacing: 0;
                position: absolute;
                left: 5px;
                top: -6px;
                background: #fff;
                padding: 2px 5px;
                color: #00000078;
            }
            @include tablet-up {
                text-transform: uppercase;
                font-family: $font--bold;
                letter-spacing: 2px;
                margin-bottom: 5px;
            }
        }
        select {
            padding: 5px 10px;
            height: 44px;
            line-height: 30px;
            border: $border;
            background: #FFFFFF url('assets/images/arrow-down.svg') no-repeat right 8px center;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }
    // error
    .error {
        color: $error;
        label {
            @include phone-and-large-phone {
                color: $error;
            }
        }
        select {
            color: $error;
            border-color: $error;
        }
    }
}
.details--input {
    margin: 36px 0;
    position: relative;
    @include flexbox();
    flex-direction: column;
    > span {
        font-size: 12px;
        @include phone-and-large-phone {
            text-transform: none;
            letter-spacing: 0;
            position: absolute;
            left: 5px;
            top: -6px;
            background: #fff;
            padding: 2px 5px;
            color: #00000078;
        }
        @include tablet-up {
            text-transform: uppercase;
            font-family: $font--bold;
            letter-spacing: 2px;
            margin-bottom: 5px;
        }
    }
    input {
        padding: 5px 10px;
        height: 44px;
        line-height: 30px;
        border: $border;
        cursor: pointer;
        &.details--option-calendar {
            background: #FFFFFF url('assets/images/calendar-lines.svg') no-repeat right 14px center;
            background-size: 16px;
            font-size:16px;
        }
        &.details--option-location {
            background: #FFFFFF url('assets/images/location-pin.svg') no-repeat right 14px center;
            background-size: 16px;
        }
    }
    // error
    &.error {
        color: $error;
        > span {
            @include phone-and-large-phone {
                color: $error;
            }
        }
        input {
            color: $error;
            border-color: $error;
        }
    }
}
.details--option-button {
    width: 100%;
    margin-top: 18px;
    button {
        background: $primary;
        color: #FFFFFF;
        text-align: center;
        font-family: $font--bold;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 100%;
        height: 38px;
        cursor: pointer;
        @extend .animation;
        &:hover {
            background: #000000;
            color: #FFFFFF;
        }
        &.disabled {
            background:gray;
            opacity:0.3;
            cursor:not-allowed;
        }
    }
}
.details--like {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    &:hover, &.liked {
        fill: $primary;
    }
}
.details--customer {
    display: none;
    &.open {
        display: block;
    }
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFFFFF;
        padding: 20px;
        width: 80vw;
        height: 80vh;
        z-index: 10000;
        .swiper-slide {
            @include flexbox;
            justify-content: space-between;
        }
        // override swiper
        .swiper-button-prev {
            left: -45px;
        }
        .swiper-button-next {
            right: -45px;
        }
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -32px;
        text-align: center;
        position: absolute;
    }
}
.details--customer-carousel {
    @media only screen and (max-width:767px) {
        height:100%;
    }
    margin: 0 !important;
}
.details--customer-image {
    @media only screen and (max-width:767px) {
       margin:0 auto;
    }
    @include phone-up {
        width: calc(50% - 10px);
        height: calc(80vh - 40px);
    }
    @include flexbox();
    align-items: center;
    justify-content: center;
    background: $bg--gray--light;
    img {
        height: 100%;
        width: auto;
        max-width: 100%;
        object-fit: contain;
    }
}
.details--customer-info {
    @media only screen and (max-width:767px) {
        display:none;
    }

    @include phone-up {
        width: calc(50% - 10px);
    }
    h3 {
        font-size: 28px;
    }
    p {
        line-height: 1.6em;
    }
}
.details--customer-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
    svg {
        width: 32px;
        height: 32px;
    }
}
.details--customer-ratings {
    height: 32px;
    @include flexbox();
    align-items: center;
    svg {
        margin-right: 2px;
    }
    margin-bottom: 20px;
}
.details--customer-body {
    border-top: 1px solid $bg--gray--light;
    border-bottom: 1px solid $bg--gray--light;
    @include phone-up {
        margin: 20px 0;
    }
    @include desktop-up {
        margin: 40px 0;
    }
    padding: 20px 0;
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    ul {
        width: 100%;
        @include tablet-up {
            width: 50%;
        }
        li {
            margin-bottom: 5px;
            span:first-child {
                font-family: $font--bold;
                @include tablet-up {
                    width: 100px;
                }
                @include desktop-up {
                    width: 120px;
                }
                display: inline-block;
                text-transform: uppercase;
            }
        }
    }
}
// filters component slide/info
.details--filters {
    margin-top: 36px;
    .filter {
        h6 {
            font-family: $font--bold;
        }
    }
    .filter--space {
        padding: 0 0 10px;
        p {
            padding-top: 10px;
            line-height: 1.4em;
        }
    }
}
// share buttons
.share {
    @include flexbox;
    @include phone-and-large-phone {
        margin-top: 18px;
    }
    @include tablet-up {
        margin-top: 36px;
    }
    a {
        margin-right: 18px;
        width: 36px;
        height: 36px;
        @include flexbox;
        align-items: center;
        justify-content: center;
        @include border-radius(50%);
        svg {
            fill: #FFFFFF;
        }
        &.instagram {
            background: $instagram;
        }
        &.facebook {
            background: $facebook;
        }
        &.whatsapp {
            background: $whatsapp;
        }
        &.twitter {
            background-color: rgb(29, 155, 240);
        }
        &.email {
            background:black;
        }
    }
}
// reviews and view more
.reviews--more {
    @include flexbox();
    flex-direction: column;
}
.reviews {}
// reviews
.reviews {
    h6 {
        @include desktop-down {
            font-family: $font--bold;
            font-size: 18px;
        }
        @include desktop-up {
            font-size: 30px;
            text-transform: uppercase;
        }
    }
}
.reviews--top {
    @include flexbox();
    align-items: center;
    .details--ratings {
        margin-bottom: 0;
        height: 18px;
        margin-left: 10px;
        cursor: initial;
        @include desktop-up {
            position: relative;
            top: -4px;
        }
    }
}
.reviews--sorting {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 18px;
}
.reviews--sorting-sort {
    @include phone {
        width: 100%;
        margin-bottom: 18px;
    }
    @include phone-up {
        width: 20%;
    }
}
.reviews--sorting-size {
    @include phone {
        width: 100%;
    }
    @include phone-up {
        width: 60%;
    }
    .details--select {
        align-items: flex-end;
        & > div {
            width: calc(100%/3 - 9px);
        }
    }
}
.reviews--list {
    background: $bg--gray--light;
}
.reviews--item {
    margin-bottom: 18px;
    background: #FFFFFF;
    border: $border;
    &:last-child {
        margin-bottom: 0;
    }
    @include flexbox();
    flex-wrap: wrap;
}
.reviews--item-left {
    padding: 18px;
    @include phone {
        order: 2;
        width: 100%;
    }
    @include phone-up {
        width: 24%;
        border-right: $border;
    }
}
.reviews--item-right {
    @include phone {
        order: 1;
        width: 100%;
        padding: 18px 0;
        margin: 0 18px 18px;
        border-bottom: $border;
    }
    @include phone-up {
        padding: 18px;
        @include flexbox();
    }
}
.reviews--item-desc {
    @include flexbox;
    flex-direction: column;
    @include phone-up {
        width: calc(100% - 160px - 18px);
    }
}
.reviews--item-name {
    font-size: 18px;
}
.reviews--item-headline {
    margin: 10px 0;
    font-family: $font--bold;
    font-size: 22px;
}
.reviews--item-rate-date {
    @include flexbox();
    align-items: center;
    .details--ratings {
        height: 18px;
        margin-bottom: 0;
        position: relative;
        top: -1px;
    }
}
.reviews--item-date {
    margin-left: 5px;
    font-size: 14px;
    opacity: .5;
    &.error {
        color: $error;
        opacity: 1;
    }
}
.reviews--item-text {
    line-height: 1.4em;
}
.reviews--item-image {
    height:max-content;
    @include phone {
        margin: 18px auto 0;
        width: 100px;
    }
    @include phone-up {
        width: 160px;
    }

    margin-left: auto;
    cursor: pointer;
    position: relative;
    span {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flexbox;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        @extend .animation;
        font-family: $font--bold;
    }
    &:hover span {
        opacity: 1;
        background-color: rgba(0,0,0,.35);
    }
}
.reviews--item-sizes li {
    @include flexbox;
    align-items: center;
    span {
        font-size: 12px;
        &:first-child {
            font-family: $font--bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 100px;
        }
        &:last-child {

        }
    }
    margin-bottom: 6px;
}
.reviews--button-more {
    background: $bg--gray--light;
    padding: 18px;
    text-align: center;
    button {
        background: #000000;
        color: #FFFFFF;
        padding: 12px 20px;
        @include border-radius(4px);
        cursor: pointer;
    }
}
// ordering review--item elements
.reviews--item-left {
    @include phone {
        padding-top: 0;
    }
    .reviews--item-name {
        @include phone {
            display: none;
        }
        @include phone-up {
            margin-bottom: 18px;
            padding-bottom: 18px;
            border-bottom: $border;
            font-family: $font--bold;
        }
    }
    .reviews--item-text {
        @include phone {
            padding-top: 18px;
            margin-top: 18px;
            border-top: $border;
        }
        @include phone-up {
            display: none;
        }
    }
}
.reviews--item-right {
    @include phone {
        .reviews--item-text {
            display: none;
        }
    }
    @include phone-up {
        .reviews--item-name {
            display: none;
        }
        .reviews--item-rate-date {
            order: 1;
        }
        .reviews--item-headline {
            order: 2;
            margin: 18px 0;
        }
        .reviews--item-text {
            order: 3;
        }
    }
}
// view more
.view--more {
    position: relative;
    // override swiper
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
        top: 35%;
        width: 32px;
        height: 60px;
        @extend .animation;
        background: rgba(255, 255, 255, 0.5);
        @include desktop-up {
            &:hover {
                background: #FFFFFF;
            }
        }
        &:after {
            font-family: swiper-icons;
            font-size: var(--swiper-navigation-size);
            text-transform: none !important;
            letter-spacing: 0;
            text-transform: none;
            font-variant: initial;
            line-height: 1;
        }
    }
    .swiper-button-prev {
        left: 0;
        //@include desktop-down {
        //    left: 0;
        //}
        //@include desktop-up {
        //    left: -49px;
        //}
        &:after {
            content: 'prev';
        }
    }
    .swiper-button-next {
        right: 0;
        //@include desktop-down {
        //    right: 0;
        //}
        //@include desktop-up {
        //    right: -49px;
        //}
        &:after {
            content: 'next';
        }
    }
}
.view--more-top {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    h6 {
        @include desktop-down {
            font-family: $font--bold;
            font-size: 18px;
        }
        @include desktop-up {
            font-size: 30px;
            text-transform: uppercase;
        }
    }
    a {
        text-decoration: underline;
    }
}
.productSlider {
    .product {
        width: 100%;
        padding: 0;
        border: 0;
    }
    .product--one {
        right: 0;
        top:70px;
    }
    .swiper-slide {
        img {
            max-height:unset;
            max-width:unset;
        }
    }
    position: relative;
    // override swiper
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
        top: 35%;
        width: 32px;
        height: 60px;
        @extend .animation;
        background: rgba(255, 255, 255, 0.5);
        @include desktop-up {
            &:hover {
                background: #FFFFFF;
            }
        }
        &:after {
            font-family: swiper-icons;
            font-size: var(--swiper-navigation-size);
            text-transform: none !important;
            letter-spacing: 0;
            text-transform: none;
            font-variant: initial;
            line-height: 1;
        }
    }
    .swiper-button-prev {
        left: 0;
        //@include desktop-down {
        //    left: 0;
        //}
        //@include desktop-up {
        //    left: -49px;
        //}
        &:after {
            content: 'prev';
        }
    }
    .swiper-button-next {
        right: 0;
        //@include desktop-down {
        //    right: 0;
        //}
        //@include desktop-up {
        //    right: -49px;
        //}
        &:after {
            content: 'next';
        }
    }
}


.single-product {
    .more {
        .center {
            h6 {
                margin-right: auto !important;
            }
        }
    }
    .reviews--item {
        flex-wrap:unset;
        @media only screen and (max-width:767px) {
            flex-wrap:wrap;
        }
    }
    .reviews--item-left {
        min-width:290px;
    }
}
