.faq {
    margin-bottom: 18px;
    border-bottom: $border;
    &:last-child {
        border-bottom: 0;
    }
    h2 {
        margin-bottom: 18px;
    }
}
.faq--top {
    @include flexbox;
    align-items: flex-start;
    justify-content: space-between;
}
.faq--toggle {
    @include flexbox;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 2px;
    // close
    .minus {
        display: none;
    }
    // open
    &.open {
        .plus {
            display: none;
        }
        .minus {
            display: block;
        }
    }
}
.faq--space {
    //@include phone-and-large-phone {
    //    padding: 0 0 10px;
    //}
    //@include tablet-up {
    //    padding: 18px 0 0;
    //}
}
.faq--content {
    transition: height 0.35s ease-in-out;
    overflow: hidden;
}
.faq--content:not(.active) {
    display: none;
}