.favorites {
    background: $bg--gray--light;
    position: relative;
    overflow: hidden;
    .page--title svg {
        fill: $primary;
    }
    .column--right {
        width: 100%;
    }
    .products {
        @include phone-up {
            justify-content: flex-start;
        }
    }
    .product {
        background: #FFFFFF;
        z-index: 1;
        @include phone {
            width: calc(50% - 9px);
            margin-bottom: 48px;
        }
        @include large-phone {
            width: calc(33% - 18px);
            margin: 0 30px 33px 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        @include tablet-up {
            width: calc(25% - 18px);
            margin: 0 24px 60px 0;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
    .product--button {
        margin-top: 18px;
        a {
            display:block;
            border: 2px solid $primary;
            padding: 12px 0 9px;
            text-align: center;
            width: 100%;
            cursor: pointer;
            font-family: $font--bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            @extend .animation;
            &:hover {
                background: $primary;
                color: #FFFFFF;
            }
            &:disabled {
                border-color: $bg--gray--light;
                background: $bg--gray--light;
                color: #666;
                opacity: .75;
                cursor: initial;
            }
        }
    }
    .pagination--arrow {
        background: #FFFFFF;
    }
}
.favorites--hearts {
    .icon {
        position: absolute;
        animation: move;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        &.type-1 {
            width: 42px;
            height: 42px;
            fill: $secondary
        }
        &.type-2 {
            width: 22px;
            height: 22px;
            fill: $primary;
        }
        &.type-3 {
            width: 82px;
            height: 82px;
            fill: #e52c4282
        }
    }
}
@keyframes move {
    0% { transform: translateY(-500px); }
    100% { transform: translateY(2000px); }
}