.hp--block {
    @include desktop-down {
        padding: 18px;
    }
    @include desktop-up {
        padding: 56px 28px;
    }
    border-bottom: $border;
    > h2 {
        font-family: $font--thin;
        font-size: 22px;
        line-height: 22px;
        margin: 50px 0 32px;
        text-align: center;
        position: relative;
        span {
            font-style: italic;
        }
        a {
            position: absolute;
            right: 0;
            top: 5px;
            font-family: $font--bold;
            font-weight: bold;
            font-size: 13px;
            line-height: 13px;
            letter-spacing: 1.3px;
            text-transform: uppercase;
            svg {
                margin-left: 2px;
            }
        }
    }
}
.hp--block-title {
    font-family: $font--thin;
    font-size: 22px;
    line-height: 22px;
    margin: 50px 0 32px;
    text-align: center;
    position: relative;
    span {
        font-style: italic;
    }
    a {
        position: absolute;
        right: 0;
        top: 5px;
        font-family: $font--bold;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        svg {
            margin-left: 2px;
        }
    }
}
.featured {
    position: relative;
    //margin: 18px 0;
    //&:first-of-type {
    //    margin-top: 0;
    //}
}
.featured--img {
    height: 100%;
    max-height: 600px;
    overflow: hidden;
}
.featured--content {
    position: absolute;
    top: 50%;
    @media only screen and (max-width:480px) {
        top:66%;
    }
    @media only screen and (max-width:364px) {
        top:60%;
    }
    transform: translateY(-50%);
    @include tablet-up {
        width: 600px;
    }
    h1 {
        font-family: $font--bold;
    }
}
// featured top
.featured--top .featured--content {
    left: 18px;
    z-index:2;
    @include phone-and-large-phone {
        width: calc(100% - 2*18px);
    }
    h1 {
        font-weight: 100;
        font-family: $font--bold;
        letter-spacing:2px;
        @include tablet-up {
            font-size: 56px;
        }
        line-height: 1.1em;
        color: #FFFFFF;
    }
    p {
        margin: 18px 0 36px;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 1.4em;
    }
    a {
        font-family: $font--bold;
        font-size: 16px;
        color: black;
        background: white;
        padding: 1rem 2rem;
        border-radius: 45px;
        display: block;
        width: max-content;
        text-transform: uppercase;
        @include phone {
            padding: 0.7rem 2rem;
            font-size:16px;
            margin:0 auto;
        }
    }
}
.featured--top {
    .featured--img {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(279deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4374124649859944) 71%);
            z-index: 1;
        }
    }
}
// featured center
.featured--center .featured--content {
    width:max-content;
    @include phone-and-large-phone {
        width: 100%;
    }
    @include tablet-up {
        left:0;
        right:0;
    }
    @media only screen and (max-width:480px) {
        top:64%;
    }
    text-align: center;
    margin:auto;
    h1 {
        font-weight:400;
        letter-spacing:2px;
        @include phone {
            padding: 0 18px;
            font-size:26px;
            margin-bottom:36px;
        }
        @include tablet-up {
            font-size: 54px;
        }
        line-height: 1.8em;
        color: white;
    }
    a {
        font-family: $font--bold;
        font-size: 16px;
        color: black;
        background: white;
        padding: 0.7rem 2rem;
        border-radius: 45px;
        display: block;
        width: max-content;
        margin: 0 auto;
        text-transform: uppercase;
    }
}
.categories--two {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
    section {
        @include phone {
            margin-bottom: 36px;
            &:last-child {
                margin-bottom: 60px;
            }
        }
        @include phone-up {
            width: calc(50% - 18px);
        }
        text-align: center;
        h1 {
            @include phone {
                font-size: 26px;
            }
            margin: 18px 0;
        }
        a {
            font-family: $font--bold;
            font-size: 12px;
            letter-spacing: 2px;
            padding-bottom: 2px;
            border-bottom: 1px solid;
            text-transform: uppercase;
        }
    }
}
.categories--three {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
    h2 {
        font-size: 30px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    section {
        margin-bottom: 1em;
        position: relative;
        @include phone {
            margin-bottom: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include phone-up {
            width: calc(100%/3 - 18px);
        }
        a:before {
            content: "";
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            opacity: 1;
            z-index: 1;
        }
        div {
            position: absolute;
            left: 18px;
            bottom: 18px;
            right: 18px;
            color: #FFFFFF;
            z-index: 2;
        }
        h1 {
            font-family: $font--bold;
            font-weight: bold;
            text-transform: uppercase;
        }
        span {
            font-size: 18px;
            margin-top: 10px;
            display: block;
        }
    }
}
.renting {
    text-align: center;
    //@include phone {
    //    margin: 20px 0;
    //}
    //@include phone-up {
    //    margin: 36px 0;
    //}
    h1 {
        //font-family: $font--thin;
        font-size: 30px;
        border-bottom: $border;
        padding: 0 40px 18px;
        display: inline-block;
        span {
            font-style: initial;
        }
    }
    ul {
        @include phone {
            margin-top: 12px;
        }
        @include phone-up {
            margin-top: 12px;
        }
        @include flexbox;
        flex-wrap: wrap;
        align-items: center;
        @include phone-up {
            justify-content: center;
        }
        @include phone {
            justify-content: space-around;
        }
        li {
            background: $secondary;
            @include border-radius(50%);
            @include flexbox;
            align-items: center;
            justify-content: center;
            @include small-phone {
                margin-bottom: 36px;
                width: 140px;
                height: 140px;
            }
            @include small-phone-up {
                width: 100px;
                height: 100px;
                svg {
                    width: 32px;
                    height: 32px;
                }
                span {
                    font-size: 10px;
                }
            }
            @include phone-up {
                margin: 0 9px;
            }
            @include tablet-up {
                width: 140px;
                height: 140px;
                svg {
                    width: 56px;
                    height: 56px;
                }
            }
            @include desktop-up {
                width: 140px;
                height: 140px;
                margin: 0 18px;
            }
        }
        a {
            display: block;
            @include phone {
                padding: 18px 0;
            }
            @include phone-up {
                padding: 16px;
            }
        }
        span {
            font-family: $font--bold;
            font-weight: bold;
            font-size: 12px;
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 10px;
        }
    }
}
.hp--shop {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
}
.hp--shop-left, .hp--shop-right {
    @include phone-and-large-phone {
        width: 100%;
    }
    @include tablet-up {
        width: calc(50% - 18px);
    }
}
.hp--shop-left .hp--product {
    > div h2 {
        @include phone {
            font-size: 20px;
        }
        @include phone-up {
            font-size: 26px;
        }
    }
}
.hp--shop-right {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    @include phone-and-large-phone {
        margin-top: 18px;
    }
    .hp--product {
        width: calc(50% - 9px);
        margin-bottom: 18px;
    }
}
.hp--product {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    > a {
        width: calc(50% - 9px);
    }
    > div {
        width: calc(50% - 9px);
        h2 {
            span {
                font-weight: normal;
                @include phone {
                    font-size: 13px;
                }
                @include phone-up {
                    font-size: 14px;
                }
                display: block;
                margin-bottom: 8px;
            }
            @include phone {
                font-size: 16px;
            }
            @include phone-up {
                font-size: 20px;
            }
            font-weight: normal;
        }
        p {
            margin: 18px 0;
            @include phone {
                font-size: 13px;
            }
            @include phone-up {
                font-size: 14px;
            }
        }
        > span {
            font-family: $font--bold;
            font-weight: bold;
            font-size: 13px;
            line-height: 13px;
            letter-spacing: 1.3px;
            text-transform: uppercase;
            svg {
                margin-left: 2px;
            }
        }
    }
}
.hp--girls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        @include small-phone {
            margin-bottom: 18px;
        }
        @include small-phone-up {
            width: calc(33% - 18px);
        }
    }
    p {
        padding-top: 42px;
        font-size: 18px;
        line-height: 1.4em;
        text-align: center;
        position: relative;
        svg {
            position: absolute;
            top: -2px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.hp--title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 30px;
    letter-spacing:4px;
    font-weight:900;
    text-transform: uppercase;
    @include desktop-down {
        margin: 5px 0 36px;
    }
    @include desktop-up {
        margin: 5px 0 50px;
    }
}
.hp--desc {
    max-width: 600px;
    margin: 36px auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.4em;
    a {
        margin-top: 18px;
        @include flexbox;
        align-items: center;
        justify-content: center;
        font-family: $font--bold;
        text-transform: uppercase;
        svg {
            margin-right: 10px;
            position: relative;
            top: -2px;
        }
    }
}
.hp--line {
    width: 100%;
    border-top: $border;
}
// overrides for homepage
.homepage {
    position: relative;
    .product {
        margin-bottom: 0;
    }
    .about--me {
        padding-left: 0;
        padding-right: 0;
    }
    .works--list {
        margin: 0;
    }
}
:root {
    --swiper-navigation-color: #000;
    --swiper-navigation-size: 20px;
    --swiper-pagination-color: #000
}
.view--more-top.center {
    position: relative;
    justify-content: center;
    margin-bottom:36px;
    h6 {
        text-transform: uppercase;
        font-size: 30px;
        font-family: $font;
        font-weight:900;
        letter-spacing:4px;
        @include desktop-down {
            margin: 5px 0 0;
        }
        @include desktop-up {
            margin: 5px 0 10px;
        }
    }

    span {
        position: absolute;
        right: 0;
        @include phone {
            display: none;
        }
        @include phone-up {
            top: 10px;
        }
    }
}