.works {
    p {
        font-size: 18px;
        line-height: 1.4em;
        margin-bottom: 18px;
        a {
            font-family: $font--bold;
            text-decoration: underline;
        }
    }
}
.works--top {
    background: $secondary;
    overflow: hidden;
    @include phone-and-large-phone {
        padding: 18px;
    }
    @include tablet-up {
        padding: 28px;
    }
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 30px;
        background: $primary;
        position: absolute;
        left: 0;
        bottom: -18px;
        transform: rotate(359deg);
    }
    div {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    h1 {
        font-family: $font--bold;
        @include desktop-down {
            padding: 18px 0;
        }
        @include desktop-up {
            font-size: 42px;
            padding: 28px 0;
        }
    }
    p {
        @include desktop-down {
            margin-bottom: 18px;
        }
        @include desktop-up {
            margin-bottom: 28px;
        }
    }
}
.works--center {
    max-width: 600px;
    margin: 28px auto 56px;
    text-align: center;
    h2 {
        font-family: $font--bold;
        margin-bottom: 18px;
        @include desktop-up {
            font-size: 32px;
        }
    }
}
.works--items {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
    h2 {
        font-family: $font--bold;
        margin-bottom: 18px;
    }
    img {
        margin-bottom: 18px;
        max-height: 400px;
        object-fit: contain;
        @include border-radius(4px);
    }
    @include phone-and-large-phone {
        flex-direction: column;
        text-align: center;
        img {
            margin-bottom: 18px;
        }
    }
    @include tablet-up {
        img, div {
            width: calc(50% - 36px);
        }
        img {
            margin-bottom: 0;
            width:100%;
        }
    }
    &.works--items-right {
        @include phone-and-large-phone {
            img {
                order: 1;
            }
            div  {
                order: 2;
            }
        }
    }
}
.works--list {
    &.questions {
        @include desktop-up {
            .sendEmail {
                padding-left:4rem;
            }
        }
    }
    @include desktop-up {
        &.space {
            margin: 144px 0;
        }
    }
    @include flexbox;
    flex-wrap: wrap;
    h2 {
        width: 100%;
        font-family: $font--bold;
        @include desktop-down {
            font-size: 32px;
            margin-bottom: 36px;
        }
        @include desktop-up {
            font-size: 42px;
            margin-bottom: 54px;
        }
        text-align: center;
    }
    ul {
        width: 100%;
        @include flexbox;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            @include flexbox;
            justify-content: space-between;
            @include phone {
                width: 100%;
            }
            @include phone-up {
                width: calc(100%/2 - 18px);
            }
            @include tablet-up {
                width: calc(100%/3 - 18px);
            }
            @include phone {
                margin-bottom: 18px;
            }
            @include phone-up {
                margin-bottom: 36px;
            }
            div {
                width: calc(100% - 56px - 18px);
                h3 {
                    font-family: $font--bold;
                    font-size: 18px;
                    margin-bottom: 8px;
                }
            }
            &.center {
                @include large-phone {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
.works--button {
    display: block;
    text-align: center;
    width: 100%;
    margin-top:18px;
    margin-bottom:24px;
    a {
        display: inline-block;
        background: #000000;
        color: #FFFFFF;
        padding: 12px 0;
        width: 200px;
        border-radius:45px !important;
        text-transform: uppercase;
        @include border-radius(4px);
    }
}
.works--single-item {
    background: $secondary;
    h1 {
        font-family: $font--bold;
        text-align: center;
        @include desktop-down {
            padding: 18px 0;
        }
        @include desktop-up {
            font-size: 42px;
            padding: 28px 0;
        }
    }
    .works--button {
        @include tablet-up {
            width: 200px;
        }
    }
}