.logged {
    @include flexbox();
    flex-wrap: wrap;
}
.logged--user {
    @include phone-and-large-phone {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    ul {
        @include phone-and-large-phone {
            margin-top: 18px;
            @include flexbox;
            align-items: center;
            justify-content: space-between;
            background: $bg--gray--light;
            padding: 0 18px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: -18px;
                left: 0;
                background: #FFFFFF;
                width: 100%;
                height: 18px;
            }
        }
        @include tablet-up {
            margin-top: 56px;
            position: sticky;
            top: 36px;
        }
        width: 100%;
        li {
            a {
                padding: 12px 0;
                display: block;
                @include tablet-up {
                    border-top: $border;
                }

            }
            &.active a {
                font-family: $font--bold;
                @include tablet-up {
                    position: relative;
                    &:after {
                        content: "";
                        width: 1px;
                        height: 100%;
                        background: #FFFFFF;
                        position: absolute;
                        top: 0;
                        right: -1px;
                    }
                }
            }
            &:last-child {
                @include phone-and-large-phone {
                    display: none;
                }
            }
        }
    }
}
.logged--user-name {
    font-family: $font--bold;
    font-size: 20px;
    text-transform: uppercase;
}
.logged--user-logout {
    display: block;
    margin-top: 5px;
    font-size: 18px;
    opacity: .5;
    text-decoration: underline;
}
.logged--user, .logged--sidebar {
    @include phone-and-large-phone {
        width: 100%;
    }
    @include tablet-up {
        width: 340px;
    }
}
// checkput sidebar proccess
.checkout {
    border: $border;
    background: #FFFFFF;
    margin-bottom: 18px;
    padding: 18px;
    .logged--error {
        margin: 0 0 18px;
    }
}
.checkout--top {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    h5 {
        font-family: $font--bold;
        font-size: 18px;
    }
    span {
        text-decoration: underline;
        cursor: pointer;
    }
}
.checkout--address, .checkout--billing, .checkout--summary {
    button {
        background: #000000;
        color: #FFFFFF;
        @include border-radius(4px);
        padding: 14px 0;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
        @include flexbox;
        align-items: center;
        justify-content: center;
        &:hover {
            opacity: .85;
        }
        &:disabled {
            opacity: .5;
            cursor: initial;
        }
    }
    > p {
        @include ellipsis(18px, 1);
        margin-bottom: 18px;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.checkout--address {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    .details--input {
        margin: 0 0 18px;
        width: 100%;
        &:nth-child(-n+2), &:nth-child(n+5) {
            width: calc(50% - 9px);
        }
    }
}
.checkout--billing {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    .details--input {
        margin: 0 0 18px;
        width: 100%;
        &:nth-child(-n+2), &:nth-child(n+4) {
            width: calc(50% - 9px);
        }
    }
}
.checkout--promo {
    @include flexbox;
    flex-wrap: wrap;
    input {
        width: calc(100% -  80px);
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        @include border-radius(4px 0 0 4px);
        padding: 5px 10px;
        height: 44px;
        line-height: 30px;
    }
    button {
        width: 80px;
        color: #000000;
        border: 1px solid #000000;
        @include border-radius(0 4px 4px 0);
        cursor: pointer;
        @extend .animation;
        &:hover {
            background: #000000;
            color: #FFFFFF;
        }
    }
    .error, .success {
        margin-top: 5px;
    }
    .error {
        color: $error;
    }
}
.checkout--summary {
    position:relative;
    ul {
        margin: 36px 0;
        li {
            @include flexbox;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            &:last-child {
                margin-top: 18px;
                padding-top: 18px;
                border-top: $border;
                font-family: $font--bold;
            }
        }
    }
    small {
        display: block;
        margin-top: 10px;
        font-size: 12px;
        a {
            text-decoration: underline;
        }
    }
}
.logged--user + .logged--content {
    @include tablet-up {
        border-left: $border;
    }
}
.logged--content {
    @include phone-and-large-phone {
        width: 100%;
        margin-top: 36px;
    }
    @include tablet-up {
        padding: 0 0 0 36px;
        width: calc(100% - 340px);
    }
    h2 {
        font-size: 26px;
        text-transform: uppercase;
    }
    h6 {
        color: #808080;
        font-size: 18px;
        font-weight: normal;
        margin: 5px 0 18px;
    }
    // when there is no orders
    &.empty {
        text-align: center;
        @include phone {
            padding: 36px 0;
            h2 {
                font-size: 20px;
            }
        }
        h6 {
            margin-top: 18px;
            text-decoration: underline;
            a {
                font-size: 20px;
                color: #808080;
            }
        }
    }
}
.logged--form {
    margin-top: 36px;
    > div {
        @include flexbox;
        align-items: center;
        label {
            @include phone-and-large-phone {
                width: 120px;
            }
            @include tablet-up {
                width: 220px;
            }
        }
        input[type=text], input[type=password] {
            @include phone-and-large-phone {
                width: calc(100% - 120px);
            }
            @include tablet-up {
                width: calc(100% - 220px);
            }
        }
        input {
            color: initial;
            font-family: $font;
            font-size: 16px;
            &:disabled {
                background: none;
            }
            &:not(:disabled) {
                background: $bg--gray--light;
                padding: 10px 12px;
            }
        }
        strong {
            font-family: $font--bold;
            margin-top: 18px;
        }
        margin-bottom: 18px;
        padding-bottom: 18px;
        border-bottom: $border;
        &.logged--button {
            border: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            justify-content: flex-end;
            input {
                background: #000000;
                color: #FFFFFF;
                @include border-radius(4px);
                padding: 12px 20px;
                cursor: pointer;
            }
        }
        &.error {
            input {
                border: 1px solid $error;
                color: $error;
            }
        }
    }
}
.logged--error, .logged--success {
    padding: 12px 20px;
    width: 100%;
    color: #FFFFFF;
    margin: 36px 0;
}
.logged--error {
    background: $error;
}
.logged--success {
    background: $success;
}
.order--list {
    margin-top: 36px;
}
.order {
    margin-bottom: 18px;
    padding: 18px;
    border: $border;
    background: #FFFFFF;
    position: relative;
    input[type=text], select, textarea {
        color: #000;
        font-family: $font;
        font-size: 16px;
        padding: 0;
        background: none;
        &:not(:disabled), textarea {
            background: #f7f7f7;
            padding: 8px 12px;
            z-index: 1;
        }
    }
    input[type=text], textarea {
        @include phone {
            width: 100%;
        }
        @include phone-up {
            width: 320px;
            text-align: right;
        }
    }
    // in renting
    &.order--renting {
        background: $secondary;
    }
}
.order--top {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    border-bottom: $border;
    margin-bottom: 18px;
    padding-bottom: 18px;
    h5 {
        font-family: $font--bold;
        font-size: 16px;
    }
    //&:not(:first-child) {
    //    margin: 56px 0 0;
    //    border-bottom: 0;
    //}
    &.myAccount {
        flex-wrap: wrap;
    }
}
.orderInfoContainer {
    position:relative;
}
.order--info {
    @include flexbox();
    margin-bottom:1rem;
    align-items: center;
    &.myAccount {
        flex-direction: column;
        align-items: unset;
        gap: 2rem;
    }
}
.order--edit, .order--save, .order--remove {
    font-family: $font--bold;
    text-decoration: underline;
    cursor: pointer;
}
.order--image {
    @include phone {
        width: 60px;
    }
    @include phone-up {
        width: 100px;
    }
    margin-right: 18px;
    &:hover {
        opacity: .9;
    }
}
.order--product {
    @include flexbox;
    flex-direction: column;
    strong:first-child {
        font-size: 18px;
        margin-bottom: 2px;
    }
    &.myAccount {
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        div {
            &:last-child {
                strong {
                    display:block;
                    margin-bottom:0.7rem;
                }
            }
        }
    }
    span {
        margin-bottom: 10px;
        @include flexbox;
        align-items: center;
        select {
            margin-left: 10px;
            width: auto;
            max-width: 100px;
            &:disabled {
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
            }
        }
    }
    padding-right: 18px;
}
.order--remove {
    margin-left: auto;
    cursor: pointer;
    &.myAccount {
        margin-left: unset;
    }
}
.order--dialog {
    display: none;
    &.active {
        display: block;
    }
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    padding: 18px;
    top: 0;
    left: 0;
    z-index: 1;
    p {
        font-family: $font--bold;
        font-size: 22px;
        text-align: center;
        margin-bottom: 18px;
    }
}
.order--dialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.order--dialog-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include flexbox;
    align-items: center;
    justify-content: center;
    width: 100%;
    button {
        padding: 12px 16px;
        cursor: pointer;
        &:hover {
            opacity: .75;
        }
        &:first-child {
            text-decoration: underline;
        }
        &:not(:first-child) {
            margin-left: 18px;
        }
        &:last-child {
            background: #000;
            color: #FFFFFF;
            @include border-radius(4px);
            @include flexbox;
            align-items: center;
            justify-content: center;
        }
    }
}
.order--date-address {
    margin-top: 18px;
    border-top: $border;
    li {
        padding-top: 10px;
        @include flexbox;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &:first-child {
            padding-top: 18px;
        }
        span {
            &:first-child {
                font-family: $font--bold;
                width: max-content;
                @include phone {
                    margin-bottom: 5px;
                }
            }
        }
        @include phone {
            span {
                width: 100%;
                &:nth-child(n+3) {
                    margin-top: 10px;
                }
            }
            small {
                font-size: 14px;
                margin-bottom: 2px;
                display: block;
                opacity: .6;
            }
        }
        // error
        &.error {
            input {
                border: 1px solid $error;
                color: $error;
                &::placeholder {
                    color: $error;
                    opacity: 1; /* Firefox */
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $error;
                }
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: $error;
                }
            }
        }
    }
}
.order--button {
    padding-top: 18px;
    margin-top: 18px;
    border-top: $border;
    @include flexbox;
    flex-direction: column;
    align-items: center;
    &.addReview {
        flex-basis:100%;
    }
    button {
        padding: 12px 0;
        background: #000000;
        color: #FFFFFF;
        @include flexbox;
        align-items: center;
        justify-content: center;
        @include border-radius(4px);
        text-transform: uppercase;
        width: 200px;
        cursor: pointer;
    }
    small {
        font-size: 13px;
        text-align: center;
        margin-top: 10px;
        display: block;
        span {
            text-decoration: underline;
        }
    }
}
// order with reviews
.order .reviews--item {
    @include phone {
        .reviews--item-right {
            border-bottom: 0;
            margin-bottom: 0;
        }
        .reviews--item-text {
            display: block;
            margin-top: 10px;
        }
    }
    @include phone-up {
        .reviews--item-right {
            width: 100%;
        }
        .reviews--item-image {
            width: 100px;
            cursor: initial;
        }
    }
    .order--remove {
        margin-right: 18px;
    }
    .details--ratings {
        top: -2px;
    }
}
// order with adding reviews
.reviews--item-add {
    display: none;
    &.active {
        display: block;
    }
    flex-wrap: wrap;
    margin-top: 18px;
    .reviews--item-right {
        @include phone {
            margin: 0;
            padding: 18px;
        }
    }
    .reviews--item-image {
        height: 140px;
        span {
            width: 100px;
            height: 100%;
            background: $bg--gray--light;
            opacity: 1;
            color: initial;
            cursor: pointer;
            text-align: center;
            &:hover {
                opacity: .75;
            }
            &.error {
                color: $error;
            }
        }
    }
    .order--button {
        margin: 0 18px 18px;
        width: calc(100% - 36px);
        order: 2;
    }
    input[type=text], textarea {
        text-align: left;
        @include phone {
            width: 100%;
        }
        &.error {
            border: 1px solid $error;
            color: $error;
            &::placeholder {
                color: $error;
                opacity: 1; /* Firefox */
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $error;
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $error;
            }
        }
    }
    @include phone {
        .reviews--item-rate-date {
            order: 1;
        }
        .reviews--item-headline {
            order: 2;
        }
        .reviews--item-text {
            order: 3;
        }
    }
}
#add-image--input {
    opacity: 0;
}
