.shop--nav {
    @include desktop-down {
        //margin: 0 -18px;
        padding: 18px 0;
    }
    @include desktop-up {
        //margin: 0 -28px;
        padding: 28px 0;
    }
    border-bottom: $border;
    ul {
        @include flexbox();
        align-items: center;
        justify-content: center;
        li {
            margin: 0 18px;
            font-size: 16px;
            &.active {
                font-weight: bold;
            }
        }
    }
}
.shop--title {
    text-align: center;
    @include desktop-down {
        padding: 18px 0;
    }
    @include desktop-up {
        padding: 28px 0;
    }
    h1 {
        font-size: 22px;
    }
}
.page--title {
    text-align: center;
    @include desktop-down {
        padding: 18px 0 0;
    }
    @include desktop-up {
        padding: 28px 0 0;
        margin-bottom: -28px;
    }
    h1 {
        font-size: 32px;
    }
    span {
        font-size: 16px;
        opacity: .75;
        display: block;
        margin-top: 5px;
    }
}
.sort {
    @include flexbox;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    label {
        @include flexbox;
        span {
            margin-left: 3px;
        }
        @include desktop-down {
            font-size: 14px;
            svg {
                width: 14px;
                height: 14px;
            }
        }
        @include desktop-up {
            align-items: center;
        }
    }
    select {
        position: absolute;
        opacity: 0;
        padding-left: 25px;
        cursor: pointer;
    }
}
.products {
    @include flexbox;
    gap:1rem;
    flex-wrap: wrap;
}
.product {
    @include small-phone {
        width: calc(50% - 9px);
        margin-bottom: 48px;
    }
    @include small-phone-up {
        width: calc(33% - 18px);
        margin-bottom: 60px
    }
    padding: 10px;
    border: 1px solid transparent;
    @extend .animation;
    &:hover {
        border-color: $secondary;
    }
    position: relative;
    .addToWishlistLoop {
        z-index: 99;
        right:0;
        &:hover {
            svg {
                color: #E52C42;
                path {
                    fill: #E52C42;
                }
            }
        }
    }
}
.product--image {
    position: relative;
}
.product--like {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    // heart icons
    &:hover, &.liked {
        fill: $primary;
        .heart {
            display: none;
        }
        .heart-full {
            display: block;
        }
    }
}
.product--info {
    text-align: center;
    margin-top: 10px;
}
.product--made {
    font-size: 18px;
    font-weight: bold;
}
.product--name {
    margin: 5px 0 13px;
    display: block;
}
.product--one {
    position: absolute;
    right: -10px;
    top:70px;
    transform: translateY(-50%);
    background: #0009;
    padding: 5px 8px 3px 8px;
    @include border-radius(4px 0 0 4px);
    font-size: 14px;
    color: #ffffffcf;
}
// aside options and filters
.links {
    margin-bottom: 40px;
    h6 {
        @include desktop-down {
            font-size: 16px;
        }
        @include desktop-up {
            font-size: 20px;
        }
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    li {
        margin-bottom: 10px;
        @include desktop-down {
            font-size: 14px;
        }
    }
}
.filters {
    @include phone-and-large-phone {
        display: none;
    }
    @include tablet-up {
        margin-bottom: 40px;
        @include flexbox;
        align-items: center;
        justify-content: space-between;
    }
}
.filters--name {
    font-size: 22px;
    font-weight: bold;
}
.filters--clear {
    text-decoration: underline;
    cursor: pointer;
}
.filter {
    margin-bottom: 10px;
    border-bottom: $border;
    h6 {
        font-size: 16px;
        font-weight: bold;
    }
}
.filter--top {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
}
.filter--toggle {
    @include flexbox;
    align-items: center;
    cursor: pointer;
    // close
    .minus {
        display: none;
    }
    // open
    &.open {
        .plus {
            display: none;
        }
        .minus {
            display: block;
        }
    }
}
.filter--space {
    @include phone-and-large-phone {
        padding: 0 0 10px;
    }
    @include tablet-up {
        padding: 0 20px 10px;
    }
}
.filter--content {
    transition: height 0.35s ease-in-out;
    overflow: hidden;
    p {
        font-family: 'core-sans-g-35-light', serif !important;
    }
    span {
        font-family: 'core-sans-g-35-light', serif !important;
    }
}
.filter--content:not(.active) {
    display: none;
}
.filter--colors {
    @include flexbox;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 10px;
    li {
        width: 30px;
        height: 30px;
        border: 1px solid transparent;
        margin: 8px 8px 0 0;
        cursor: pointer;
        @include border-radius(50%);
        @include desktop-up {
            &:nth-child(6) {
                margin-right: 0;
            }
            &:nth-child(-n+6) {
                margin-top: 0;
            }
        }
        // colors
        &.filter--green {
            background: green;
        }
        &.filter--red {
            background: red;
        }
        &.filter--orange {
            background: orange;
        }
        &.filter--black {
            background: black;
        }
        &.filter--white {
            background: white;
            border: $border;
        }
        &.active {
            @include flexbox();
            align-items: center;
            justify-content: center;
            svg {
                fill: #ffffff;
                display:block;
            }
        }
        svg {
            display:none;
        }
    }
}
.input-wrapper {
    margin: 10px 0;
    @include flexbox;
    align-items: center;
    &:first-child {
        margin-top: 20px;
    }
    input {
        margin-right: 8px;
    }
}
// open filter section
.filters-sort {
    @include flexbox;
    align-items: center;
    justify-content: flex-end;
    @include desktop-down {
        padding: 10px 0;
    }
    @include desktop-up {
        padding-bottom: 16px;
    }
}
.open--filters {
    font-size: 14px;
    @include flexbox;
    margin-right: 20px;
    z-index: 1;
    svg {
        margin-right: 3px;
        width: 14px;
        height: 14px;
        position: relative;
        top: -1px;
    }
    @include tablet-up {
        display: none;
    }
}
// close filters section (on mobile)
.close--filters {
    @include phone-and-large-phone {
        @include flexbox;
        align-items: center;
        justify-content: space-between;
        padding: 14px 18px;
        border-bottom: $border;
        .flex-space {
            width: 18px;
        }
    }
    @include tablet-up {
        display: none;
    }
    text-align: center;
}
.close--filters--button {
    font-weight: bold;
}
// filters--scroll
.filters--scroll {
    @include phone-and-large-phone {
        overflow-y: scroll;
        height: calc(100% - 132px);
        padding: 18px;
    }
    @include desktop-up {
        margin-top: 48px;
    }
    a {
        &.active {
            font-weight:bold;
        }
    }
}
// apply filters section (on mobile)
.apply--filters {
    @include phone-and-large-phone {
        @include flexbox;
        align-items: center;
        justify-content: space-between;
        padding: 14px 18px;
        border-top: $border;
    }
    @include tablet-up {
        margin-top:1rem;
        display:inline-block;
        .filters--clear {
            display:none;
        }
    }
    button {
        font-size: 16px;
        text-decoration: underline;
        &.submit {
            background: #000000;
            color: #FFFFFF;
            padding: 8px 40px;
            @include border-radius(5px);
            text-decoration:none;
        }
    }
    a {
        background: #000000;
        color: #FFFFFF;
        padding: 8px 40px;
        @include border-radius(5px);
    }
}

a.paginationDisabled {
    border-color: grey;
    pointer-events: none;
    cursor: not-allowed;
     svg {
         fill: grey;
     }
}