// to hide all banners
div[class^="banner"] {
    display: none;
}
.banner {
    display: block;
    margin: 18px auto;
    @include flexbox;
    align-items: center;
    justify-content: center;
}
.banner--top {
    width: 320px;
    height: 250px;
    @include tablet-up {
        width: 900px;
        height: 300px;
    }
    @include phone-and-large-phone {
        margin-bottom: 0;
    }
    @include tablet-up {
        margin-bottom: -12px;
    }
    @include desktop-up {
        margin-bottom: -10px;
    }
}
.banner--center {
    width: 320px;
    height: 250px;
    margin: 0 auto;
    @include tablet-up {
        width: 900px;
        height: 300px;
    }
}
// desktop branding
.banner-branding--left {
    @include desktop-down {
        display: none;
    }
    left: 50%;
    margin-left: -918px;
    position: fixed;
    text-align: right;
    width: 300px;
    height: 100%;
    z-index: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        transform: rotate(90deg);
    }
}
.banner-branding--right {
    @include desktop-down {
        display: none;
    }
    right: 50%;
    margin-right: -918px;
    position: fixed;
    text-align: left;
    width: 300px;
    height: 100%;
    z-index: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        transform: rotate(90deg);
    }
}
// show/hide on desktop/mobile
.banner--desktop {
    @include phone-and-large-phone {
        display: none;
    }
}
.banner--mobile {
    @include tablet-up {
        display: none;
    }
}