// default
.weekdays, .weekSeparator {
    @include flexbox;
    span {
        @include flexbox;
        align-items: center;
        justify-content: center;
        width: calc(100%/7);
        height: 45px;
    }
}
.weekdays span {
    border-bottom: 1px solid #dddddd;
}
.weekSeparator span {
    border-color: #dddddd;
    border-style: solid;
    border-width: 0 1px 1px 0;
    &:first-child {
        border-left-width: 1px;
    }
    //&.enabled-entry:hover {
    //    background: $secondary;
    //}
    //&.selectedDate:hover {
    //    background: $success;
    //}
    //&.busy-entry {
    //    border-color: $primary;
    //}
}
.calendarHeader {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    button {
        width: calc(100%/7);
        height: 34px;
        cursor: pointer;
    }
    div {
        margin: 0 auto;
        font-family: $font--bold;
        font-size: 22px;
    }
}
.enabled-entry {
    cursor: pointer;
    position: relative;
}
.disabled-entry {
    background: #e5e5e5;
    position:relative;
    color: #999;
    cursor: default;
    .calendar--info {
        cursor:pointer;
    }
}
.busy-entry {
    background: $primary;
    color: #FFFFFF;
    cursor: default;
    position: relative;
}
.calendar--options {
    margin-top: 20px;
    span {
        font-family: $font--bold;
        text-decoration: underline;
        cursor: pointer;
    }
}
.calendar--option-date {
    margin-bottom: 10px;
    text-align: center;
}
.calendar--option-busy {
    margin-bottom: 20px;
    &:before {
        content: "";
        width: 12px;
        height: 12px;
        display: inline-block;
        background: $primary;
        margin-right: 10px;
        position: relative;
        top: 1px;
    }
}
.calendar--info {
    position: absolute;
    left: -60px;
    background: #FFFFFF;
    border: 1px solid;
    font-size: 10px;
    padding: 2px;
    text-align: center;
    width: 60px;
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #000;
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.calendar--error, .calendar--success, .noticeContainer {
    padding: 12px 20px;
    width: 100%;
    color: #FFFFFF;
    margin-top: 18px;
}
.calendar--error, .noticeError {
    background: $error;
}
.calendar--success, .noticeSuccess {
    background: $success;
}

.selectedDate {
    background: $success;
}

.noticeContainer {
    &.show {
        display:block;
    }
    display:none;
}