// default svg icon size
.icon {
    width: 18px;
    height: 18px;
}
.icon--small {
    width: 10px;
    height: 10px;
}
.icon--medium {
    width: 28px;
    height: 28px;
}
.icon--large {
    width: 56px;
    height: 56px;
}
.works--list {
    .logoImage {
        width: 100px;
    }
    svg {
        width: 56px;
        height: 56px;
    }
    ul {
        li {
            gap:0.5rem;
        }
    }
}
// starts
.star {
    fill: $star;
}
.star-half {
    fill: $star;
}
.star-solid {
    color: $star;
}