.login, .signup {
    @include flexbox;
    flex-direction: column;
    height: 100%;
    .details--input {
        margin: 0 0 18px 0;
    }
    small {
        font-size: 13px;
        text-align: center;
        margin-bottom: 18px;
        a {
            text-decoration: underline;
        }
    }
    button {
        background: #000000;
        color: #FFFFFF;
        @include border-radius(4px);
        padding: 18px 0;
        cursor: pointer;
        text-transform: uppercase;
        @include flexbox();
        align-items: center;
        justify-content: center;
        svg {
            fill: #FFFFFF;
            margin-right: 5px;
        }
        &.facebook {
            background: $facebook;
            text-transform: none;
            font-size: 16px;
            font-family: $font--bold;
        }
        &.google {
            background: $google;
            margin: 18px 0;
            text-transform: none;
            font-size: 16px;
            font-family: $font--bold;
        }
        &:hover {
            opacity: .85;
        }
    }
}
.line {
    position: relative;
    text-align: center;
    margin: 18px 0;
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60%;
        transform: translateX(-50%);
        height: 1px;
        background: #000000;
    }
    span {
        background: #FFFFFF;
        padding: 0 5px;
        z-index: 1;
        position: relative;
    }
}
.login-switch, .signup-switch {
    cursor: pointer;
    text-decoration: underline;
    display: block;
    margin-top: auto;
    text-align: center;
}
.login-switch {
    font-family: $font--bold;
    letter-spacing: 2px;
}