.newsletter {
    @include flexbox();
    align-items: center;
    justify-content: center;
    background: $bg--gray--light;
    border-top: $border;
    @include phone {
        flex-direction: column;
        padding: 18px;
    }
    @include phone-up {
        padding: 28px 0;
    }
    input {
        height: 50px;
        background: #FFFFFF;
        border: $border;
        padding: 0 18px;
        min-width: 220px;
        @include phone {
            width: 100%;
            text-align: center;
        }
        font-size: 16px;
    }
    button,
    .tnp-submit {
        background: #000000;
        color: #FFFFFF;
        cursor: pointer;
        text-transform: uppercase;
        height: 50px;
        width: 140px;
        @include phone {
            width: 100%;
        }
    }
}

.newsletter--title {
    font-size: 18px;
    @include phone {
        padding: 18px 0;
    }
    @include phone-up {
        margin-right: 18px;
    }
    span {
        font-style: italic;
    }
}
