.popup {
    display: none;
    z-index: 1000;
    background: #FFFFFF;
    position: fixed;
    @include phone {
        padding: 18px;
        top: 5vh;
        left: 5vw;
        width: 90vw;
        height: 90vh;
    }
    @include phone-up {
        padding: 28px;
        height: 80vh;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }
    @include large-phone-and-tablet {
        width: 60vw;
    }
    @include desktop-up {
        width: 30vw;
    }
    &.open {
        display: block;
        z-index:99999;
        overflow-y:auto;
        height:auto;
        max-height:100%;
    }
    p {
        font-family: $font--bold;
        font-size: 22px;
        text-align: center;
        padding: 10px 0 28px;
    }
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.popup-content {
    height: 100%;
    .popup-hidden {
        @include flexbox;
        flex-direction: column;
        height: 100%
    }
}
.popup-hidden {
    display: none;
}
.hidden {
    display: none;
}
.popup-buttons {
    margin-top: auto;
    @include phone {
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
// when buttons dont need
.popup-calendar {
    .popup-buttons {
        @include phone-up {
            display: none;
        }
    }
}
.popup-button {
    width: calc(50% - 9px);
    padding: 12px 0;
    margin-top: 18px;
}
.popup-button--primary, .popup-button--yes {
    background: #000000;
    color: #FFFFFF;
    @include border-radius(4px);
    text-align: center;
    cursor: pointer
}
.popup-button--secondary, .popup-button--no {
    text-align: left;
    color: #000000;
    cursor: pointer;
}
.popup-button--add-new {
    width: 100%;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}
// calendar in popup
.calendar {
    width: 100%;
}
// Entered items and items to edit
.popup-entered {
    max-height: calc(100% - 180px);
    overflow-y: scroll;
}
.popup-entered--item {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 18px 18px 8px;
    margin-bottom: 18px;
    border: $border;
    position: relative;
    label {
        width: calc(100% - 30px);
        cursor: pointer;
        @include flexbox;
        flex-wrap: wrap;
        > span {
            font-family: $font--bold;
            margin-bottom: 10px;
            display: block;
        }
        .popup-entered--info {
            width: 100%;
            @include flexbox();
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            input {
                width: 100%;
                margin-bottom: 10px;
                color: initial;
                font-family: $font;
                font-size: 16px;
                padding: 0;
                background: none;
                position: relative;
                z-index: -1;
                &:not(:disabled) {
                    background: #f7f7f7;
                    padding: 8px 12px;
                    z-index: 1;
                }
            }
            &.shipping-order input {
                &:nth-child(-n+2), &:nth-child(n+5) {
                    width: calc(50% - 5px);
                }
            }
            &.billing-order input {
                &:nth-child(-n+2), &:nth-child(n+4) {
                    width: calc(50% - 5px);
                }
            }
        }
        input[type=checkbox] {
            margin-right: 6px;
            position: relative;
            top: 1px;
        }
    }
    &.default {
        border-color: black;
    }
}
// popup add new button and new section
.popup-shipping-new--add {
    cursor: pointer;
    text-decoration: underline;
}
// popup removing items
.popup-entered--remove {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    svg {
        background: rgba(0,0,0, .1);
    }
    &:hover svg {
        background: #000000;
        fill: #FFFFFF;
    }
}
.popup-entered--remove-dialog {
    display: none;
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 18px;
    &.active {
        display: block;
    }
    p {
        padding: 0 0 18px;
    }
}
// popup scroll (for landscape)
.popup-scroll {
    overflow-y: auto;
    @include flexbox;
    flex-direction: column;
    height: 100%;
}