.container {
    @include desktop-down {
        padding: 18px;
    }
    @include desktop-up {
        padding: 28px;
    }
}
.container--main {
    @include tablet-up {
        padding: 30px;
    }
    @include desktop-up {
        padding: 28px 0;
        @include container(1200px);
    }
}
.container--space {
    @include desktop-up {
        padding: 62px 0;
    }
}