main.bg--gray {
    background: $bg--gray--light;
}
// main columns
.columns {
    @include flexbox();
    flex-wrap: wrap;
    @include phone-and-large-phone {
        flex-direction: column;
    }
    @include tablet-up {
        justify-content: space-between;
    }
}
.column--left {
    @extend .animation;
    @include phone-and-large-phone {
        position: fixed;
        width: 100%;
        height: calc(100% - 10px);
        left: 0;
        bottom: -200vh;
        background: #FFFFFF;
        z-index: 1000;
        &.active {
            bottom: -20px;
            @include border-radius(12px 12px 0 0);
        }
    }
    @include tablet-up {
        width: 260px;
    }
}
.column--right {
    @include tablet-up {
        width: calc(100% - 260px - 28px);
    }
}
.info-line {
    background: $bg--gray--light;
    text-align: center;
    height: 40px;
    @include flexbox;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 15;
    @extend .animation;
    a {
        text-decoration: underline;
        text-transform: uppercase;
        font-family: $font--bold;
    }
    font-size: 14px;
    @include small-phone-up {
        font-size: 16px;
    }
}
.click--info-line {
    @include flexbox;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    position: relative;
    > svg {
        margin-right: 10px;
        position: relative;
        top: 0;
        @extend .animation;
    }
    strong, span {
        position: relative;
    }
    &:hover {
        > svg {
            top: -3px;
        }
        strong, span {
            text-decoration: underline;
        }
    }
}
.info-line--text {
    margin-left: 10px;
}
.close--info-line {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.to-top {
    background: $primary;
    color: #FFFFFF;
    @include border-radius(25px);
    padding: 10px 0 10px 10px;
    @include flexbox();
    justify-content: center;
    @include desktop-down {
        width: 38px;
        @include flexbox;
        justify-content: center;
        padding: 0;
        height: 38px;
        align-items: center;
    }
    @include desktop-up {
        width: 100px;
    }
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    bottom: 18px;
    right: 18px;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    @extend .animation;
    span {
        @include desktop-down {
            display: none;
        }
    }
    svg {
        fill: #FFFFFF;
        @include desktop-up {
            margin-left: 5px;
        }
    }
    &:hover {
        bottom: 23px;
    }
    &.to-top--space {
        bottom: 70px;
    }
}
.pagination {
    @include flexbox();
    align-items: center;
    justify-content: center;
}
.pagination--arrow {
    @include desktop-down {
        width: calc(50% - 100px);
    }
    @include small-phone-up {
        width: 160px;
    }
    height: 42px;
    @include flexbox;
    align-items: center;
    justify-content: center;
    border: $border;
}
a.pagination--arrow {
    border-color: $primary;
    @extend .animation;
    svg {
        @extend .animation;
        fill: $primary;
    }
    &:hover {
        opacity: 1;
        background: $primary;
        svg {
            fill: #FFFFFF;
        }
    }
}
.pagination--page {
    font-size: 20px;
    display: block;
    margin: 0 28px;
    text-align: center;
}

.gfLoader {
    border-top:5px solid #E52C42 !important;
}
.singleLoader {
    display: block;
    margin: 1rem auto 0 auto;
}
.checkoutLoader {
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:36px !important;
    height:36px !important;
}

.addToWishlist,
.addToWishlistLoop {
    right:13px !important;
    top:13px !important;
    svg {
        path {
            stroke-width:1;
        }
    }
}

.attributeWrapper {
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    span {
        z-index:0;
    }
}

.noticeContainer.noticeWarning {
    display:block;
    background:$secondary;
    color:black;
    a {
        text-decoration:underline;
    }
}

#coupon-redeem {
    display: flex;
    flex-wrap: wrap;
}

.wishlistWarningTitle {
    text-align:center;
    margin:1rem 0;
}

.priceQtyContainer {
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    align-items: center;
    margin-top:1rem;
    span {
        margin-bottom:0 !important;
    }
    .productQty {
        background: #f7f7f7;
        padding: 8px 12px;
        margin-left: 10px;
        width: 60px;
    }
}

.loading {
    opacity:0.2;
}

.woocommerce-password-strength,
.woocommerce-password-hint {
    display:none !important;
}

.popup-calendar-dates {
    span {
        input {
            background: #f7f7f7;
            padding: 10px 12px;
        }
    }
    label {
        font-family: "core-sans-g-35-light", serif;
        font-weight: 400;
        color: #000;
        font-size: 1.2rem;
    }
    textarea {
        background: #f7f7f7;
        padding: 10px 12px;
    }
}

.reviewHidden {
    display:none !important;
}

.errorMessage {
    background: #eb5840;
    padding: 12px 20px;
    width: 100%;
    color: #FFFFFF;
}

.successMessage {
    background: #78c775;
    padding: 12px 20px;
    width: 100%;
    color: #FFFFFF;
}

.orderDesc {
    display:block !important;
}

.about {
    img {
        width:unset !important;
    }
    .wp-block-gallery.has-nested-images {
            display: flex !important;
            flex-wrap: wrap !important;
            gap: 2rem !important;
            align-items: center !important;
            figure {
                width:30px !important;
                margin:0 !important;
            }
    }
}

.myAccount {
    .reviews--item-image {
        span {
            color:black;
            opacity:1;
            background: #f7f7f7;
        }
    }
}

.add-image--input {
    opacity:0;
}

.disableEvents {
    pointer-events: none;
}

.js-calendar {
    min-height:270px;
    position:relative;
}

.wpcf7-form input,
.wpcf7-form textarea {
    max-width:80%;
}

.initialRatingHtml {
    display:none;
}

.hiddenElement {
    display:none;
}

.disabledPointer {
    pointer-events: none;
}

.details--customer-carousel {
        position:relative;
}

.newsletter .tnp-field-button {
    @media only screen and (max-width:700px) {
        width:100%;
    }
}

.order--info.myAccount {
    .reviews--item-text {
        input {
            margin-bottom:1rem;
        }
    }
    .reviews--item-image {
        height:unset;
    }
}

.doesntFit {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    z-index: 999;
    &.show {
        display:block;
    }
    .closeFit {
        cursor:pointer;
        position:absolute;
        right: 10px;
        top: 10px;
        svg {
            pointer-events:none;
            width: 18px;
            height: 18px;
            fill:black;
        }
    }
    p {
        text-align: center;
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    .actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap:2rem;
        .cancel {
            cursor:pointer;
            text-decoration: underline;
        }

        .accept {
            background: #000;
            color: #FFFFFF;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            padding: 12px 16px;
            cursor: pointer;
        }
    }
    .orderNote {
        display:block;
        margin:2rem auto;
    }
}

#customer_login {
    padding:3rem;
    form {
        input {
            border:1px solid #d3ced2;
            padding:0.5rem;
        }
    }
}

.woocommerce-ResetPassword {
    padding:3rem;
}
.woocommerce-form-register {
    .woocommerce-privacy-policy-text {
        p {
            &:nth-of-type(1) {
                margin-bottom:1rem;
            }
        }
    }
}

.woocommerce-form-login.login {
    .woocommerce-LostPassword.lost_password {
        margin-top:1rem;
    }
}
.blogContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#submitFilters {
    background: #000000;
    color: #FFFFFF;
    padding: 12px 20px;
    cursor:pointer;
}

.lost_reset_password {
    #user_login,
    #password_1,
    #password_2
    {
        padding:0.5rem;
        border:1px solid black;
    }
}

.woocommerce-lost-password {
    main {
        &> .woocommerce {
            padding:3rem;
        }
    }
}

.page-template-howItWorks {
    .works--list.space {
        margin:0;
    }
    .works--center {
        margin:28px auto;
    }
    .works--items {
        margin-top:0;
    }
}

.points {
    ul {
        li {
            flex-direction: column;
            justify-content:unset !important;
            text-align:center;
            align-items: center;
        }
    }
}
.findYourSize {
    @media only screen and (max-width:461px) {
        display:none !important;
    }
}
#password_current::placeholder,
#password_1::placeholder {
    font-size:12px;
    @media only screen and (max-width:386px) {
        font-size:10px;
    }
}

.loggedOut {
    .addToWishlist {
        display:none !important;
    }
}
form {
    .details--input {
        #reg_email,
        #reg_password,
        #username,
        #password {
            font-size:16px;
        }
    }
}
@media only screen and (max-width:767px) {
    .woocommerce-column--shipping-address {
        margin-top: 2rem;
    }
}
.woocommerce-thankyou-order-received {
    text-align:left;
}

.addToWishlistLoop,
.addToWishlist {
    &:hover {
        svg {
            color:#E52C42;
        }
    }
}

.woocommerce-thankyou-order-details {
    display:flex;
    flex-wrap:wrap;
    &:before {
        content:unset !important;
    }
    gap:1rem;
    &>li {
        margin-right:0 !important;
        &:nth-of-type(1) {
            padding: 0;
            border: 0;
        }
    }
}

.ratePrice {
    display:block;
}

.productSlider,
.column--right {
    .product--price {
        display:flex;
        justify-content:center;
        gap:5px;
        flex-wrap:wrap;
        @media only screen and (max-width:360px) {
            font-size:14px;
        }
        .woocommerce-Price-amount {
            font-weight:bold;
        }
    }
}
.column--right {
    .product--price {
        @media only screen and (max-width:400px) {
            font-size:14px;
        }
        @media only screen and (max-width:370px) {
            font-size:12px;
        }
    }
}

.cn-set-cookie {
    color:black !important;
}

.woocommerce-account.woocommerce-page.woocommerce-edit-account .woocommerce:nth-of-type(1) {
    display:flex;
    flex-wrap:wrap;
    @media only screen and (min-width:1235px) {
        margin:0 auto;
        padding:62px 0;
        max-width:1200px;
    }
    @media only screen and (max-width:1234px) {
        padding:62px 31px;
    }
}

@media only screen and (max-width:1023px) {
    .page-template-shopPage .column--left.active {overflow-y:scroll}
    .page-template-shopPage .column--left.active #filtersForm {
        padding-bottom:3rem !important;
    }
}