.header {
    background: #FFFFFF;
    border-bottom: $border;
    @include desktop-down {
        padding: 0 18px;
        position: sticky;
        width: 100%;
        top: 0;
    }
    @include desktop-up {
        padding: 0 28px;
        position: relative;
    }
    z-index: 100;
}
.header--main {
    position: relative;
    text-align: center;
    @include desktop-down {
        height: 49px;
    }
    @include desktop-up {
        height: 84px;
    }
}
.header--menu {
    @include flexbox();
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    @include desktop-down {
        display: none;
    }
    ul {
        margin-left: 24px;
        @include flexbox();
        li {
            margin-left: 30px;
            a {
                padding-bottom: 16px;
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing:2px;
                &.active {
                    font-weight:bold;
                }
            }
            &.active {
                position: relative;
                a {
                    color: $primary;
                }
                &:before {
                    content: ' ';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $primary;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    //margin-top: 32px;
                }
            }
            &.highlighted {
                font-family: $font--bold;
            }
        }
    }
}
.hamburger--search {
    position: absolute;
    left: 0;
    @include flexbox;
    align-items: center;
    @include desktop-down {
        top: 16px;
    }
    @include desktop-up {
        top: 31px;
    }
}
.hamburger {
    height: 18px;
    width: 23px;
    //display: block;
    //position: relative;
    //@include desktop-down {
    //    top: 16px;
    //}
    //@include desktop-up {
    //    top: 31px;
    //}
    cursor: pointer;
}
.hamburger--icon  {
    width: 18px;
    height: 1px;
    background-color: #000;
    position: absolute;
    @include desktop-down {
        top: 6px;
    }
    @include desktop-up {
        top: 8px;
    }
}
.hamburger--icon {
    &:before, &:after {
        content: '';
        display: block;
        width: 23px;
        height: 1px;
        background-color: #000;
        position: absolute;
    }
    &:before {
        @include desktop-down {
            top: -6px;
        }
        @include desktop-up {
            top: -8px;
        }
    }
    &:after {
        @include desktop-down {
            bottom: -6px;
        }
        @include desktop-up {
            bottom: -8px;
        }
        width: 13px;
    }
}
    .header--logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        @include desktop-down {
            width: 90px;
        }
        @include desktop-up {
            width: 130px;
        }
    }
}
.header--controls {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include flexbox();
    align-items: center;
    > span {
        @include desktop-down {
            margin-left: 10px;
        }
        @include desktop-up {
            margin-left: 24px;
        }
        cursor: pointer;
        @extend .animation;
        &.active {
            position: relative;
            &:before {
                content: ' ';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #000;
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 31px;
            }
        }
    }
}
.header--user {
    @include flexbox();
    align-items: center;
    span {
        margin-left: 5px;
        position: relative;
        top: -2px;
        @include phone {
            display: none;
        }
    }
}
.header--shop {
    border-left: $border;
    a {
        @include desktop-down {
            padding-left: 10px;
        }
        @include desktop-up {
            padding-left: 24px;
        }
        position: relative;
        @include flexbox();
        align-items: center;
    }
    svg {
        margin-left: 5px;
        position: relative;
        top: -3px;
    }
}
@include desktop-down {
    .header--shop-text {
        display: none;
    }
}
.header--shop-bag {
    position: absolute;
    top: 5px;
    @include desktop-down {
        left: 17px;
    }
    @include desktop-up {
        left: 93px;
    }
    padding: 3px 0;
    width: 25px;
    @include border-radius(3px);
    font-size: 13px;
    &.filled {
        background: #000;
        color: #fff;
    }
}
// left fixed menu
.fixed-menu {
    @media (orientation: landscape) {
        overflow-y: scroll;
    }
    top: 0;
    left: -90%;
    position: fixed;
    width: 90%;
    max-width: 356px;
    height: 100vh;
    background: #FFFFFF;
    z-index: 10001;
    @extend .animation;
    &.open {
        left: 0;
    }
}
.fixed-menu--content {
    @include desktop-down {
        padding: 10px 15px 15px;
    }
    @include desktop-up {
        padding: 28px;
    }
    nav li {
        a {
            padding: 10px 0;
            display: block;
            letter-spacing: 2px;
        }
        &.active a, &.highlighted a {
            font-family: $font--bold;
        }
        &:last-child {
            margin: 10px 0;
            a {
                border-top: $border;
                border-bottom: $border;
            }
        }
    }
}
.fixed-menu--close {
    position: relative;
    @include desktop-down {
        height: 35px;
    }
    @include desktop-up {
        height: 57px;
    }
    margin-bottom: 15px;
    border-bottom: $border;
    cursor: pointer;
    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 13px;
        left: -1px;
        &:before, &:after {
            content: '';
            display: block;
            width: 23px;
            height: 1px;
            background-color: #000;
            position: absolute;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
.fixed-menu--user {
    background: $secondary;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    a {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 5px;
        svg {
            margin-right: 10px;
            position: relative;
            top: 2px;
        }
    }
}
.fixed-menu--info  {
    @include flexbox();
    flex-wrap:wrap;
    gap:1rem;
    align-items: center;
    margin-top: 30px;
}
// overlay
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.64);
    @extend .animation;
    pointer-events: none;
    &.open {
        opacity: 1;
        z-index: 999;
        pointer-events: auto;
    }
}
// stop scroll
html.no-scroll {
    overflow: hidden;
    body {
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;
    }
}
// search block
.header--search {
    width: 100%;
    z-index: 10;
    @include desktop-down {
        padding: 90px 28px 68px;
        position: fixed;
    }
    @include desktop-up {
        padding: 40px 28px 68px;
        position: absolute;
    }
    background: $bg--gray;
    border-bottom: $border;
    transform: translateY(-400px);
    @extend .animation;
    &.open {
        transform: none;
    }
    form {
        @include flexbox();
        align-items: center;
        justify-content: center;
    }
    input {
        @include desktop-down {
            font-size: 22px;
        }
        @include desktop-up {
            font-size: 42px;
        }
        background: transparent;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;
        width: 600px;
        max-width: 100%;
        font-family: $font;
        @include border-radius(0);
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #c4c4c4;
        opacity: 1; /* Firefox */
        font-family: $font;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #c4c4c4;
        font-family: $font;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #c4c4c4;
        font-family: $font;
    }
}
.header--search-open {
    cursor: pointer;
    margin-left: 24px;
}
.header--search-clear {
    opacity: 0;
    width: 28px;
    cursor: pointer;
    @extend .animation;
    &.visible {
        opacity: 1;
    }
}