.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nsl-container {
    width:100%;
    .nsl-container-buttons {
      width:100%;
      a {
        width:100%;
      }
    }
  }
}